body{
font-family: Sans-serif;
margin: 0;
}
header{

}
.HOME{
margin-left: 200px;
margin-right: 200px;
}
.HOME img{
width: 300px;

}
.ABOUT{
    margin-left: 200px;
    margin-right: 200px;
}
.SERVICES{
    margin-left: 200px;
    margin-right: 200px;
}
.BLOG{

}
.REDLINE{
 
}
footer{
background-color: black;
color: whitesmoke;
width: 100vw;
padding: 40px 20px 20px
}
.CONTACT-US{
 max-width: 1200px;
 margin: 0 auto;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 gap: 30px;
}   
.footer-column{
    flex: 1;
    min-width: 200px;
}
.footer-financial p i{
    margin-right: 10px;
}
.footer-financial i{
    font-size: 20px;
}
.footer-information{
    padding-right: 100px;
}
.footer-instagram{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 10px;
 max-width: 100px;
}
.footer-column h5{
    font-size: 18px;
    margin-bottom: 15px;
}
.footer-column p{
    font-size: 14px;
    line-height: 1.6;
}
.placeholder-fotke{
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    display: inline;
    margin: 5px 5px 0 0;
}
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 160px;
}
.socialinios-icon{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 80px;
}
.socialinios-icon .icon i{
    width: 30px;
    height: 30px;
    font-size: 5px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 0;
}

.footer-column input{
    padding: 10px;
    width: 100%;
    max-width: 220px;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
.footer-column button{
    padding: 10px 20px;
    background-color: red;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}
.footer-apacia{
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid snow;
    padding-top: 15px;
    font-size: 12px;
}

.placeholder-fotke {
    position: relative;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    display: inline-block;
    margin: 5px 5px 0 0;
    overflow: hidden;
}
.placeholder-fotke img{
    position: absolute;
    top: 10px;
    left: 6px;
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: block;
}

.item{
width: 185px;
height: 240px;
border: 1px solid black;
background-color: blue;
color: azure;
border-radius: 5%;
text-align: center;
margin-left: 40px;
padding-top: 5px;
border-radius: 2%;
}

.container{
display: flex;
justify-content: space-between;
margin: 0;
/* max-width: 1200px; */
}

i{
    font-size: 50px;
    padding-top: 20px;
}

.item-2{
    background-color: red;
}

.item-5{
    width: 100%;
    height: 200px;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
}

