body{
font-family: Sans-serif;
}
header{

}
.HOME{
padding: 50px;
}
.HOME img{
width: 300px;

}
.ABOUT{

}
.SERVICES{

}
.BLOG{

}
.REDLINE{

}
.CONTACT-US{
 
}    

.item{
width: 185px;
height: 240px;
border: 1px solid black;
background-color: blue;
color: azure;
border-radius: 5%;
text-align: center;
margin-left: 40px;
padding-top: 5px;
border-radius: 2%;
}

.container{
display: flex;
justify-content: space-between;
}

i{
    font-size: 50px;
    padding-top: 20px;
}

.item-2{
    background-color: red;
}

/* p{
    border: 1px solid white;
    width: 100px;
    height: 25px;
    margin-left: 40px;
    padding-top: 5px;
    border-radius: 25%;
} */